src/main/mule/assesment_16_11.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="14db7584-7171-4e92-a7a1-dce7bf55de5b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="ded32dac-0243-4973-a857-49cddcb5519d" >
		<salesforce:cached-basic-connection username="sunain.mittal@apisero.com" password="Sunain@123" securityToken="SxP8kxcDH5qrmaivCvHJG2iQT" />
	</salesforce:sfdc-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="51338a09-97cf-4587-a94c-624d68624625" >
		<db:my-sql-connection host=" db4free.net" port="3306" user="sunain" password="sunain123" database="assessmentsunain" />
	</db:config>
	<flow name="Step_1_Flow" doc:id="4b4248c4-d9e3-4134-8ceb-547aed87619c" >
		<http:listener doc:name="Listener" doc:id="e0e20546-bd75-4586-88eb-5a7996d00293" path="/set_info" config-ref="HTTP_Listener_config" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="275bafa9-672a-4815-bbdb-bbbae6ce2042" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Account" doc:name="Create" doc:id="06924721-5c27-4594-b78a-96530c7ae650" config-ref="Salesforce_Config">
		</salesforce:create>
		<logger level="INFO" doc:name="Logger" doc:id="cc80d194-2b83-46c6-b96c-10d01e75487b" />
	</flow>
	<flow name="step_2_Flow" doc:id="9e727758-70e0-46a3-94e6-967aaacc8b48" >
		<http:listener doc:name="Listener" doc:id="29462404-4036-4c8c-bf9d-ce6c82f7f6fd" config-ref="HTTP_Listener_config" path="/getAll" allowedMethods="GET"/>
		<salesforce:query doc:name="Query" doc:id="473aace3-1502-44ef-ad7f-e951c17e7144" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >SELECT Phone,Name,BillingAddress FROM Account</salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="4225e088-f849-4039-8eee-b5d7c4eacc6c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="step_3_Flow" doc:id="d74ee818-835d-4733-ba9c-8c0dc0292672" >
		<http:listener doc:name="Listener" doc:id="4f36bc27-0574-4066-83f6-ff8fa8b8e54a" config-ref="HTTP_Listener_config" path="/update" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="b84f5a26-80a4-4758-be20-45a2a02edf10" />
		<salesforce:upsert doc:name="Upsert" doc:id="0768fc3c-710c-4fcd-be6e-ae9370ca16f7" config-ref="Salesforce_Config" externalIdFieldName="Id" type="Account"/>
	</flow>
	<flow name="Database_step1_Flow" doc:id="d397d166-38fb-4e09-85b8-9f5d0a05737c" >
		<scheduler doc:name="Scheduler" doc:id="18a56cb2-333d-4792-af13-220a886b35d2" >
			<scheduling-strategy >
				<cron timeZone="IST" expression="0 00 24 ? * *"/>
			</scheduling-strategy>
		</scheduler>
		<db:execute-ddl doc:name="truncate table" doc:id="897b2afb-6c24-446d-bdbf-eeb033566543" config-ref="Database_Config">
			<db:sql>TRUNCATE TABLE customer;</db:sql>
		</db:execute-ddl>
		<flow-ref doc:name="get all customer info" doc:id="863cff2d-4bcb-47c9-8518-9797b0b40c86" name="step_2_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="7a0406bf-123e-4caf-a8ed-9100ea6a571a" />
		<foreach doc:name="For Each" doc:id="dcf73e4e-cb7f-4e3b-ab8a-b6c2f0a80508" >
			<db:insert doc:name="Insert salesfore customer info into database" doc:id="3aca1a69-b9aa-4e5f-8708-0af1b643af47" config-ref="Database_Config">
				<db:sql >insert into customer values(:ID,:NA,:PN,:BS);</db:sql>
				<db:input-parameters ><![CDATA[#[{
'ID' : payload.Id,
'NA' : payload.name,
'PN' : payload.phone,
'BS' : payload.BillingAddress.street,
}]]]></db:input-parameters>
			</db:insert>
		</foreach>
	</flow>
</mule>
